@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

$head: "Raleway", Arial, Helvetica, sans-serif;
$body: "Lato", Arial, Helvetica, sans-serif;
$serif: "Droid Serif", Arial, Helvetica, sans-serif;
$bg: "Brandon Grotesque", Arial, Helvetica, sans-serif;
$proxima: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
$normal: 'Roboto', Helvetica, Arial, sans-serif;
$helv : 'Helvetica Neue', Helvetica, Arial, sans-serif;


$hora: #FF9600;
$darkBlue: #1F2532;
$red: #ea6565;
$black: #2F363B;
$altblack: #323232;
$cyan: #00d1e3;
$lightblue: #72C8D9;


@mixin font($type : $helv, $size : 16px, $weight : 400, $color : #000) {
	color: $color;
	font-family: $type;
	font-size: $size;
	font-weight: $weight;
}

* {
  box-sizing: border-box; }

 *, :after, :before {     
 	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	&:hover {
		text-decoration: none;
	}
}

body {
	@include font();
	
	header {
		padding: 10px;
		border-bottom: 1px solid #ededed;
		line-height: 40px;
		.container {
			max-width: 961px;
			.global-margin {
				margin-left: 20px;
				margin-right: 20px;
				.row {
					.col-md-12 {
						.hearye-logo {
							display: inline-block;
							height: 50px;
							width: auto;
							img {
								height: 100%;
								width: auto;
							}
						}
						ul {
							margin-top: 10px;
							float: right;
						
							li {
								font-weight: 300;
								display: inline-block;
								margin-right: 20px;
								
								a {
									color: #000;
								}
							}
							li:last-child {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
	
	.wrapper {
		border-bottom: 1px solid #ededed;
		.container {
			
			max-width: 961px;	
			.row {
				min-height: 840px;
				position: relative;
				
				.description {
					position: relative;
					top: 190px;
					h1 {
						@include font($helv, 60px, 300, #000);
						line-height: 40px;
					}
				}
				.iphone-container {
					padding-left: 35px;
					
					.iphone {
						position: relative;
						margin-left: 35px;
						margin-top: 60px;
						margin-bottom: 60px;
						width: 360px;
						height: auto;
						
						.screen-assets {
							z-index: 10;
							display: block;
							position: absolute;
							width: 312px;
							height: auto;
						}
						.top-bar {
							top: 107px;
							left: 26px;
						}
						.bottom-bar {
							bottom: 102px;
							left: 26px;
						}
						
						.device {
							width: 100%;
							height: auto;
						}
					}
					
				}
			}
		}
	}
	
	footer {
		.container {
			max-width: 961px;
			padding-top: 40px;
			padding-bottom: 20px;
			.row {
				 .column {
					ul {
						li {
							line-height: 1.5em;
							color: lighten(#000, 50%);
						}
						li:first-child {
							font-weight: 600;
							color: #000;
						}
					}
				}
			}
			
			.author {
				padding-left: 10px;
				margin-top: 40px;
				color: lighten(#000, 50%);
			}
		}
	}
	
}

@media screen and (max-width: 940px) {
	body {
		.wrapper {
			.container {
				.row {
					.iphone-container {
						.iphone {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	body {
		.wrapper {
			.container {
				.row {
					.iphone-container, .description {
						width: 100%;
					}
					
					.description {
						padding-top: 20px;
						top: 0;
						
						h1, h2 {
							text-align: center;
						}
					}
					.iphone-container {
						.iphone {
							margin: 60px auto;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		footer {
			.row {
				.column {
					width: 100%;
					ul {
						display: inline-block;
						float: left;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	body {
		.wrapper {
			max-height: 800px;
			overflow: hidden;
			.container {
				.row {
					.iphone-container {
						.iphone {
							position: relative;
							left: -15px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	body {
		footer {
			.container {
				.row {
					.column {
						ul:last-child {
							position: relative;
							top: 20px;
							width: 80%;
							margin-left: 15px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 350px) {
	body {
		.wrapper {
			.container {
				.row {
					.iphone-container {
						.iphone {
							left: -45px;
							padding: 30px;
						}
					}
				}
			}
		}
	}
}