@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

$head: "Raleway", Arial, Helvetica, sans-serif;
$body: "Lato", Arial, Helvetica, sans-serif;
$serif: "Droid Serif", Arial, Helvetica, sans-serif;
$bg: "Brandon Grotesque", Arial, Helvetica, sans-serif;
$proxima: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
$normal: 'Roboto', Helvetica, Arial, sans-serif;
$helv : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$list: 'SFNS Display', Helvetica, Arial, sans-serif;
$title: 'Avenir Next LT Pro', Arial, sans-serif;

$hora: #FF9600;
$lora: #F2742B;
$darkBlue: #1F2532;
$red: #ea6565;
$black: #2F363B;
$altblack: #323232;
$cyan: #00d1e3;
$lightblue: #72C8D9;


@mixin font($type : $helv, $size : 16px, $weight : 400, $color : #000) {
	color: $color;
	font-family: $type;
	font-size: $size;
	font-weight: $weight;
}

@mixin transition() {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

body {
  .wrapper {
			#problem {
				width: 100%;
				height: 600px;
				background: url(../img/party-bg.jpeg) center center no-repeat fixed;
				background-size: cover;
				.bg-problem {
					height: 100%;
					width: 100%;
					background: linear-gradient(to bottom, rgba(242,116,42,1) 0%, rgba(231,56,39,0.58) 100%);;
					.container {
						max-width: 912px;
						padding-top: 30px;
						padding-bottom: 50px;

						.time-icon {
							text-align: center;
							margin: 0px 10px 10px 10px;

							.svg-icon {
								width: 7em;
								height: 7em;
								path, polygon, rect {
									fill: #fff;

								}
							}
						}
						h1 {
							text-align: center;
							@include font($proxima, 2em, 700, #fff);
							margin-top: 0;
							line-height: 1.5em;
						}
						ul {
							margin-top: 50px;
							li {

								padding: 30px;
								display: inline-block;
								float: left;
								@include font($proxima, 1em, 400, darken(#fafafa, 2%));

								h2 {
									margin-top: 0;
									font-size: 1em;
									font-weight: 700;
									letter-spacing: 2px;
									text-transform: uppercase;
									text-align: center;
									color: #fff;

								}
								p {
									font-size: 1.2em;
								}
							}
							li:first-child {
								border-right: 1px solid #fff;
							}
							li:last-child {
								margin-right: 0;
							}
						}
					}
				}
			}

			#filter {
				width: 100%;
				height: 600px;
				overflow: hidden;
				padding: 30px;
				border-top: 1px solid #ededed;
				border-bottom: 1px solid #ededed;

				ul {
					li {
						width: 50%;
						display: inline-block;
						float: left;
						padding: 20px;

						.iphone-animation {
							position: relative;
							margin: 0 auto;
							width: 360px;
							height: auto;
							.device {
								width: 100%;
							}
							.screen {
								width: 312px;
								height: auto;
								position: absolute;
								top: 107px;
								left: 26px;
							}
						}
					}

					li:first-child {
						padding: 85px;
						line-height: 1.5em;
						h3 {
							text-align: center;
							font-size: 2.5em;

						}

						p {
							margin: 20px;
						}

					}

				}
			}


			#event-creation {
				width: 100%;
				height: 600px;
				overflow: hidden;
				padding: 30px;
				background: rgba(242,115,42,1);

				ul {
					li {
						width: 50%;
						display: inline-block;
						float: left;
						padding: 20px;


						.iphone-animation {
							position: relative;
							margin: 0 auto;
							width: 360px;
							height: auto;
							.device {
								width: 100%;
							}
							.screen {
								width: 312px;
								height: auto;
								position: absolute;
								top: 107px;
								left: 26px;
							}
						}
					}

					li:last-child {
						padding: 85px;
						line-height: 1.5em;
						color: #fff;

						h3 {
							font-size: 2em;
						}

						p {
							font-size: 1.2em;
						}

					}

				}
			}

			#sharing {
				width: 100%;
				height: 600px;
				.bg-share {
					height: 100%;
					width: 100%;

					.container {

						max-width: 912px;
						padding-top: 90px;
						padding-bottom: 50px;
						text-align: center;
						.people-icon {
							width: 100px;
							height: 100px;
							margin: 20px;
							padding: 15px;
							border: 2px solid rgb(242,115,42);
							display: inline-block;
							border-radius: 200px;

							.svg-icon {
								width: 100%;
								height: auto;
								path, polygon, rect {
									fill: rgb(242,115,42);

								}
							}
						}
						h1 {
							text-align: center;
							@include font($proxima, 3em, 700, #000);
							margin-top: 0;
							line-height: 1.5em;
						}
						p {
							@include font($proxima, 1.5em, 500, #000)
						}
					}
				}

			}
			.svg-icon {
			  width: 5em;
			  height: 5em;
			}

			.svg-icon path,
			.svg-icon polygon,
			.svg-icon rect {
			  fill: #4691f6;
			}

			.svg-icon circle {
			  stroke: #4691f6;
			  stroke-width: 1;
			}
    // .bg-about {
    //   background: url(../img/party-bg.jpeg) center center fixed no-repeat;
    //   background-size: cover;
    //   height: 400px;
    //   .title-wrapper {
    //     position: relative;
    //     background-color: rgba(255,94,47,0.8);
		//
    //     color: #fff;
    //     height: 100%;
    //     h1 {
    //       @include font($proxima, 42px, 600, #fff);
    //       position: absolute;
    //       top: 50%;
    //       left: 50%;
    //       transform: translate(-50%, -50%);
		//
		//
    //     }
    //     h1, h2 {
    //       text-align: center;
    //     }
		//
    //   }
    // }
		//
    // .container {
		//
    //   padding-top: 40px;
    //   padding-bottom: 40px;
    //   max-width: 961px;
    // }
		//
    // .about {
    //   .boxes {
    //     margin-bottom: 20px;
    //     .text-box {
    //       margin-top: 20px;
    //       margin-bottom: 20px;
    //       width: 50%;
    //       float: left;
    //       font-size: 20px;
    //       box-pack: start;
    //       box-align: center;
    //       box-orient: vertical;
    //       box-direction: normal;
		//
    //       display: flex;
    //       justify-content: flex-start;
    //       align-items: center;
    //       flex-direction: column;
    //       text-align: center;
    //       padding: 50px 50px;
    //       span {
    //         display: block;
    //         text-transform: uppercase;
    //         @include font($proxima, 0.8em, 700, $lora);
    //         letter-spacing: 2px;
    //         margin-bottom: 10px;
    //       }
    //     }
		//
    //     .text-box.first {
    //       border-right: 1px solid #ccc;
    //     }
    //   }
		//
    //   h4 {
    //     font-size: 32px;
    //     margin-left: 20px;
    //   }
    //   .keys {
    //     margin-top: 25px;
    //     li {
    //       list-style: square;
    //       margin-left: 30px;
    //       line-height: 1.5em;
    //       font-size: 18px;
    //       padding-bottom: 20px;
    //       b {
    //         color: $lora;
    //       }
    //     }
    //   }
    // }
    }
}


@media screen and (max-width: 815px) {
  body {
    .wrapper {
      .bg-about {
        .title-wrapper {
          h1 {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  body {
    .wrapper {
      .bg-about {
        .title-wrapper {
          h1 {
            top: 45%;
            font-size: 27px;
          }
        }
      }
      .container {
        .boxes {
          .text-box {
            width: 100%;
          }
          .text-box.first {
            border-right: 0;
            border-bottom: 1px solid #ccc;
            margin: 0;
          }
        }
        h4 {
          font-size: 22px;
        }
        .keys {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    .wrapper {
      max-height: none;
      overflow: none;
    }
  }
}
