@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

$head: "Raleway", Arial, Helvetica, sans-serif;
$body: "Lato", Arial, Helvetica, sans-serif;
$serif: "Droid Serif", Arial, Helvetica, sans-serif;
$bg: "Brandon Grotesque", Arial, Helvetica, sans-serif;
$proxima: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
$normal: 'Roboto', Helvetica, Arial, sans-serif;
$helv : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$list: 'SFNS Display', Helvetica, Arial, sans-serif;
$title: 'Avenir Next LT Pro', Arial, sans-serif;

$hora: #FF9600;
$lora: #F2742B;
$darkBlue: #1F2532;
$red: #ea6565;
$black: #2F363B;
$altblack: #323232;
$cyan: #00d1e3;
$lightblue: #72C8D9;


@mixin font($type : $helv, $size : 16px, $weight : 400, $color : #000) {
	color: $color;
	font-family: $type;
	font-size: $size;
	font-weight: $weight;
}

@mixin transition() {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

body {
  .wrapper {
    .bg-wrapper {
        background-color: #fff;
        .team {
          padding: 20px;
          .team-boxes {
            .tbox {
              color: #4d4d4d;
              position: relative;
              width: 40%;
              float: left;

              .text-wrapper {
                padding-top: 100px;
                padding-left: 50px;
                padding-right: 30px;
                padding-bottom: 20px;
                .button {
                  cursor: pointer;
                  cursor: hand;
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  margin-top: .25rem;
                  margin-bottom: .25rem;
                  min-width: 8rem;
                  padding-right: 2.25rem;
                  padding-left: 2.25rem;
                  font-size: 1.25rem;
                  color: #1774E2;
                  font-weight: 600;
                  text-transform: uppercase;
                  display: inline-block;
                  margin-right: 0;
                  margin-left: 0;
                  line-height: 1;
                  text-align: center;
                  text-shadow: none;
                  vertical-align: middle;
                  border-width: .25rem;
                  border-style: solid;
                  border-radius: .25rem;
                  outline: 0;
                  -webkit-transition: background-color 150ms,border-color 150ms,color 75ms ease-out;
                  transition: background-color 150ms,border-color 150ms,color 75ms ease-out;
                  letter-spacing: .1em;

                  &:hover {
                    background-color: #1774E2;
                    border-color: transparent;
                    color: #fff;
                  }
                }
              }
            }
            li.squad {
              width: 60%;
              ul {
                li {
                  width: 250px;
                  display: inline-block;
                  margin: 15px;
                  .mask {
                    margin: 0 auto;
                    height: 100px;
                    width: 100px;
                    border-radius: 100px;
                    overflow:hidden;
                    img {
                      width: 100%;
                      height: auto;
                    }
                  }
                  h4, p {
                    text-align: center;

                  }
                  p.bio {
                    text-align: left;
                    color: #3e3e3e;
                    a {
                      color: #0B87BC;
                      &:hover {
                        color: darken(#0B87BC, 10%);
                      }
                    }
                  }
                  h4 {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
    }
  }
}

@media screen and (max-width: 992px) {
  body {
    .wrapper {
      .bg-wrapper {

        .team {
          .team-boxes {

            .tbox {
              width: 100%;
              text-align: center;
              .text-wrapper {
                padding-left: 0;
                padding-right: 0;
                padding-top: 30px;
              }
            }
            li.squad {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    .wrapper {
      max-height: none;
      overflow: none;
    }
  }
}
