footer#contact
     .container
       .row
         .col-md-12.col-sm-12.column.clearfix
           ul.col-sm-3
             li Learn More
             li
               a(href='/how-it-works') How It Works
           ul.col-sm-3
             li Get In Touch
             li +1 (650) 454-6232
             li
               a(href='/contact') Contact
           ul
             li Community
             li
               a(href='/team') Our Team
             li
               a(href='http://blog.hearye.io') Blog
       .row.author
         .col-md-12.col-sm-12.column
           p
             | © 2016 HearYe. All Rights Reserved.
             br
             | Made with ♥ by the HearYe team
