header.clearfix
      .container
        .global-margin.clearfix
          .row.clearfix
            .col-md-12.clearfix
              .hearye-logo
                a(href='/')
                  img(src='img/hearye-logo.png', alt='HearYe Logo')
              ul.clearfix.mobile
                li
                  a(href='/how-it-works') How It Works
                li
                  a(href='/team') Team
                li
                  a(href='http://blog.hearye.io') Blog
                li
                  a(href='/contact') Contact
