<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About HearYe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.min.css">
	<!-- Latest compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<div class="global-margin clearfix">
				<div class="row clearfix">
					<div class="col-md-12 clearfix">
						<div class="hearye-logo">
							<img src="img/hearye-logo.png" alt="HearYe Logo">
						</div>
						<ul class="clearfix">
							<li class="active"><a href="/about">About</a></li>
							<li><a href="">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>