<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About HearYe</title>
	<link rel="shortcut icon" href="img/hearye-favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.min.css">
	<!-- Latest compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/about.css">
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<div class="global-margin clearfix">
				<div class="row clearfix">
					<div class="col-md-12 clearfix">
						<div class="hearye-logo">
							<a href="/"><img src="img/hearye-logo.png" alt="HearYe Logo"></a>
						</div>
						<ul class="clearfix mobile">
							<li><a href="/how-it-works">How It Works</a></li>
							<li><a href="/team">Team</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">
		<!-- <div class="bg-about">
			<div class="title-wrapper">
				<h1>It's time to update the college experience.</h1>
			</div>
		</div>
		<div class="about container">
			<ul class="boxes clearfix">
				<li class="text-box first"><span>The problem</span>Current channels students use to interact with campus events are inadequate.</li>
				<li class="text-box"><span>The solution</span>A consolidated platform to browse or create events on campus.</li>
			</ul>
			<h4>HearYe is a mobile application designed to centralize all campus events.</h4>
			<ul class="keys">
				<li>What’s going on around campus? Scroll through our clean, easy to view feed to browse a <b>comprehensive list of events</b>, or <b>filter it</b> to your style.
				</li>
				<li>HearYe helps students and organizations <b>advertise their gatherings</b>. With our simple developer interface, groups and individuals alike can <b>easily reach out to the entire campus.</b></li>
				<li>After showing interest in or selecting an event, users have multiple options of interaction, such as <b>sharing the event with friends</b>, or <b>messaging the planner</b> for additional information.</li>
			</ul>
		</div>  -->
		<footer id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 column clearfix">
						<ul class="col-sm-3">
							<li>Learn More</li>
							<li><a href="#">How It Works</a></li>
							<li><a href="#">Get updates</a></li>
						</ul>
						<ul class="col-sm-3">
							<li>Get In Touch</li>
							<li>+1 (650) 454-6232</li>
							<li><a href="mailto:info@hearye.io">info@hearye.io</a></li>
						</ul>
						<ul>
							<li>Community</li>
							<li><a href="/team">Our team</a></li>
							<li><a href="/blog">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="row author">
					<div class="col-md-12 col-sm-12 column">
						<p>&copy; 2016 HearYe. All Rights Reserved.<br>Made with &hearts; by the HearYe team</p>
					</div>
				</div>
			</div>
		</footer>
</html>
