<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About HearYe</title>
	<link rel="shortcut icon" href="img/hearye-favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.min.css">
	<!-- Latest compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<div class="global-margin clearfix">
				<div class="row clearfix">
					<div class="col-md-12 clearfix">
						<div class="hearye-logo">
							<a href="/"><img src="img/hearye-logo.png" alt="HearYe Logo"></a>
						</div>
						<ul class="clearfix">
							<li class="active"><a href="/about">About</a></li>
							<li><a href="#contact">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">
		
	</div>
	<footer id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 column clearfix">
					<ul class="col-sm-3">
						<li>Learn more</li>
						<li><a href="/about">How it works</a></li>
						<li><a href="#">Get updates</a></li>
					</ul>
					<ul class="col-sm-3">
						<li>Get in touch</li>
						<li>+1 (650) 454-6232</li>
						<li><a href="mailto:info@hearye.squarespace.com">Email Us</a></li>
					</ul>
					<ul>
						<li>Community</li>
						<li><a href="/team">Our team</a></li>
						<li>Jobs</li>
					</ul>
				</div>
			</div>
			<div class="row author">
				<div class="col-md-12 col-sm-12 column">
					<p>&copy; 2016 Hear Ye. All Rights Reserved.<br>Made with &hearts; by the Hear Ye team</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>