extends layout

block content
  .contact-wrapper.container 
    h1 Contact Form
    div.content
      form(url='contact.jade', name='contactus', id='contactus', method='POST')
        fieldset
          p 
            span 1
            | Name
            br
            input(name='name', type='text', value='', id='name')
          p
            span 2
            | Email
            br
            input(name='email', type='text', value='', id='email')
          p
            span 3
            | Message
            br
            textarea(name='message', cols='40', rows='10', id='message')
          p
            input(name='submit', type='submit', value='Send', id='submit')
