<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hear Ye</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.min.css">
	<!-- Latest compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<div class="global-margin clearfix">
				<div class="row clearfix">
					<div class="col-md-12 clearfix">
						<div class="hearye-logo">
							<img src="img/hearye-logo.png" alt="HearYe Logo">
						</div>
						<ul class="clearfix">
							<li><a href="">About</a></li>
							<li><a href="">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">
		<div class="bg">
			<div class="container">
				<div class="row">
					<div class="description col-md-6 col-sm-6" id="desc">
					</div>
					<div class="iphone-container col-md-6 col-sm-6">
						<div class="iphone">
							<img class="top-bar screen-assets" src="img/hearye-topbar.jpg" alt="Top Bar">
							<img class="bottom-bar screen-assets" src="img/hearye-bottombar.jpg" alt="Bottom Bar">
							<div class="feed screen-assets">
								<div class="feed-container">
									<ul id="feed-list">
										<li class="feed-item">
											<h3>DesignWorks Recruitment</h3>
											<h6 class="item-date">Jan 11<h6>
											<h4 class="item-author">by DesignWorks</h4>
											<p class="item-description"><span class="item-price">Free</span> &#8226; <span class="item-location">Norris Center</span> &#8226; We're looking for designers and developers for this upcoming quarter. Build cool stuff and make money! Apply now!</p>
											<p class="item-info"><span class="item-comments">12 comments</span><span class="item-attending">42 attending</span></p>
										</li>
									</ul>
								</div>
							</div>
							<img  class="device" src="img/iphone-silver.png" alt="iPhone">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 column clearfix">
					<ul class="col-sm-3">
						<li>Learn more</li>
						<li><a href="#">What we do</a></li>
						<li><a href="#">Why we do it</a></li>
						<li><a href="#">How it works</a></li>
					</ul>
					<ul class="col-sm-3">
						<li>Get in touch</li>
						<li>+1 (650) 454-6232</li>
						<li><a href="mailto:info@hearye.squarespace.com">Email Us</a></li>
					</ul>
					<ul>
						<li>Community</li>
						<li><a href="#">Our team</a></li>
						<li>Jobs</li>
					</ul>
				</div>
			</div>
			<div class="row author">
				<div class="col-md-12 col-sm-12 column">
					<p>&copy; 2016 Hear Ye. All Rights Reserved.<br>Made with &hearts; by the Hear Ye team</p>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/jsx">

		var Headline = React.createClass({
			render: function() {
				return(
					<h1>HearYe on iOS</h1>
				);
			}
		});
		var Subheading = React.createClass({
			render: function() {
				return(
					<h2>Something Something Something</h2>
				);
			}
		});
		var BodyText = React.createClass({
			render: function() {
				return(
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				);
			}
		});
		var UpdateButton = React.createClass({
			render: function() {
				var updateBtn = "update-btn";
				return(
					<a href="#" className={updateBtn}>Get updates</a>	
				);
			}
		});
		
		React.render(
		<div>
			<Headline/>
			<Subheading />
			<BodyText />
			<UpdateButton />
		</div>, 
			
		document.getElementById("desc"));
		
		var ListItem = React.createClass({
			render: function() {
				var feedItem = "feed-item",
				itemDate = "item-date",
				itemAuthor = "item-author",
				itemDesc = "item-description",
				itemPrice = "item-price",
				itemLoc = "item-location",
				itemInfo = "item-info",
				itemCom = "item-comments",
				itemAttend = "item-attending",
				itemOverlay = "item-overlay";
				
				return(
					<li className={feedItem}>
						<h3>{this.props.event}</h3>
						<h6 className={itemDate}>{this.props.date}</h6>
						<h4 className={itemAuthor}>by {this.props.author}</h4>
						<p className={itemDesc}><span className={itemPrice}>{this.props.price}</span> &#8226; <span className={itemLoc}>{this.props.location}</span>  &#8226; {this.props.children}</p> 
						<div className={itemOverlay}><p className={itemInfo}><span className={itemCom}>{this.props.comments} comments</span><span className={itemAttend}>{this.props.attending} attending</span></p></div>
					</li>	
				);
			}
		});
		
		React.render(
		<div>
			<ListItem event="DesignWorks Recruitment" date="Jan 11" author="DesignWorks" price="Free" location="Norris Center" comments="12" attending="42">We're looking for designers and developers for this upcoming quarter. Apply now!</ListItem>
			<ListItem event="Decorate a Donut" date="Jan 14" author="ASG" price="$5" location="Norris Ground Floor" comments="20" attending="67">Decorate a donut at the food court on the ground floor of Norris.</ListItem>
			<ListItem event="Interstellar Screening" date="Jan 20" author="Movie Club" price="$2" location="Tech LR2" comments="45" attending="101">Watch Interstellar, the critically acclaimed Sci-Fi thriller!</ListItem>
			<ListItem event="Cookies 4 a Cure" date="Jan 21" author="DU Top Haus" price="$3" location="Lisa's Cafe" comments="34" attending="50">Purchase baked goods and we'll donate some of the money to St. Judes Children Hospital.</ListItem>
			<ListItem event="Kids to Campus" date="Jan 21" author="Supplies for Dreams" price="Free" location="The Arch" comments="5" attending="13">Welcome back to 8th grade! </ListItem>
			<ListItem event="Design Works Recruitment" date="Jan 11" author="DesignWorks" price="Free" location="Norris Center" comments="12" attending="42">We're looking for designers and developers for this upcoming quarter. Build cool stuff and make money! Apply now!</ListItem>
			<ListItem event="Design Works Recruitment" date="Jan 11" author="DesignWorks" price="Free" location="Norris Center" comments="12" attending="42">We're looking for designers and developers for this upcoming quarter. Build cool stuff and make money! Apply now!</ListItem>
			<ListItem event="Design Works Recruitment" date="Jan 11" author="DesignWorks" price="Free" location="Norris Center" comments="12" attending="42">We're looking for designers and developers for this upcoming quarter. Build cool stuff and make money! Apply now!</ListItem>
			
		</div>, 
			
		document.getElementById("feed-list"));
	</script>
</body>
</html>