<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HearYe: The digital bulletin board for university events</title>
	<link rel="shortcut icon" href="img/hearye-favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.min.css">
	<!-- Latest compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<div class="global-margin clearfix">
				<div class="row clearfix">
					<div class="col-md-12 clearfix">
						<div class="hearye-logo">
							<a href="/"><img src="img/hearye-logo.png" alt="HearYe Logo"></a>
						</div>
						<ul class="clearfix mobile">
							<li><a href="/how-it-works">How It Works</a></li>
							<li><a href="/team">Team</a></li>
							<li><a href="http://blog.hearye.io">Blog</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">
		<div class="bg">
			<div class="container">
				<div class="row">
					<div class="description col-md-6 col-sm-6" id="desc">
					</div>
					<div class="iphone-container col-md-6 col-sm-6">
						<div class="iphone">
							<img class="top-bar screen-assets" src="img/hearye-topbar.jpg" alt="Top Bar">
							<img class="bottom-bar screen-assets" src="img/hearye-bottombar.jpg" alt="Bottom Bar">
							<div class="feed screen-assets">
								<div class="feed-container">
									<ul id="feed-list">
										<li class="feed-item">
											<h3>DesignWorks Recruitment</h3>
											<h6 class="item-date">Jan 11<h6>
											<h4 class="item-author">by DesignWorks</h4>
											<p class="item-description"><span class="item-price">Free</span> &#8226; <span class="item-location">Norris Center</span> &#8226; We're looking for designers and developers for this upcoming quarter. Build cool stuff and make money! Apply now!</p>
											<p class="item-info"><span class="item-comments">12 comments</span><span class="item-attending">42 attending</span></p>
										</li>
									</ul>
								</div>
							</div>
							<img  class="device" src="img/iphone-silver.png" alt="iPhone">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 column clearfix">
					<ul class="col-sm-3">
						<li>Learn More</li>
						<li><a href="#">How It Works</a></li>
						<li><a href="#">Get Updates</a></li>
					</ul>
					<ul class="col-sm-3">
						<li>Get In Touch</li>
						<li>+1 (650) 454-6232</li>
						<li><a href="mailto:info@hearye.io">info@hearye.io</a></li>
					</ul>
					<ul>
						<li>Community</li>
						<li><a href="/team">Our Team</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="row author">
				<div class="col-md-12 col-sm-12 column">
					<p>&copy; 2016 HearYe. All Rights Reserved.<br>Made with &hearts; by the HearYe team</p>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/babel" src="js/main.js"></script>
</body>
</html>
