extends layout

block content  
  .bg-wrapper
      .team.container
        ul.team-boxes.clearfix
          li.tbox.clearfix
            .text-wrapper
              h2 Our Team
              p We have a team with a particular set of skills.
              p.action-line Interested in working on a cool project?
              p.sub-action Send us your resume/CV by clicking below.
              a.button(href='mailto:info@hearye.io') join the team ❯
          li.tbox.squad.clearfix
            ul
              li
                .mask
                  img(src='img/drakemumford.jpg', alt='Drake Mumford')
                h4 Drake Mumford
                p Founder, Creative Genius
                p.bio
                  | Hi, I’m Drake. I like 
                  a(href='https://www.youtube.com/user/CarsandCoffeeIrvine', target='_blank') fast cars
                  | , photography, sports, and food. Also, my favorite color is blue.
              li
                .mask
                  img(src='img/maxweidell.jpg', alt='Max Weidell')
                h4 Max Weidell
                p Co-founder, Sales Guru
                p.bio
                  | I'm Max. I love jazz, playing 
                  a(href='https://www.youtube.com/watch?v=sOUsbtUrXHk', target='_blank') string instruments
                  | , reading, and I am fascinated by trains.
              li
                .mask
                  img(src='img/brandonfujii.jpg', alt='Brandon Fujii')
                h4 Brandon Fujii
                p Web Dev, Designer
                p.bio
                  | Northwestern CS and Usercentric, LLC. I like skateboarding, Soylent, and dank memes. 
                  a(href='http://twitter.com/brandonfujii', target='_blank') @brandonfujii
              li
                .mask
                  img(src='img/johnfranklin.jpg', alt='John Franklin')
                h4 John Franklin
                p Software Developer
                p.bio Hey, I'm John. I've worked at Google and God wants me to makes this app.
              li
                .mask
                  img(src='img/navingopaul.jpg', alt='Navin Gopaul')
                h4 Navin Gopaul
                p Mobile Dev
                p.bio
                  a(href='http://obamasbigtenteam.com') Northwestern
                  |  CS student, NYC Native, and Usercentric dev.  I'm a huge fan of politics, boxing, and vintage currency.
