<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Team</title>
	<link rel="shortcut icon" href="img/hearye-favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.min.css">
	<!-- Latest compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/team.css">
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<div class="global-margin clearfix">
				<div class="row clearfix">
					<div class="col-md-12 clearfix">
						<div class="hearye-logo">
							<a href="/"><img src="img/hearye-logo.png" alt="HearYe Logo"></a>
						</div>
						<ul class="clearfix mobile">
							<li><a href="/how-it-works">How It Works</a></li>
							<li><a href="/team">Team</a></li>
							<li><a href="http://blog.hearye.io">Blog</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="wrapper">
		<div class="bg-wrapper">
			<div class="team container">
				<ul class="team-boxes clearfix">
					<li class="tbox clearfix">
						<div class="text-wrapper">
							<h2>Our Team</h2>
							<p>We have a team with a particular set of skills.</p>
							<a href="#" class="button">join the team &#10095;</a>
						</div>
					</li>
					<li class="tbox squad clearfix">
						<ul>
							<li>
								<div class="mask">
									<img src="img/drakemumford.jpg" alt="Drake Mumford">
								</div>
								<h4>Drake Mumford</h4>
								<p>Founder, Creative Genius</p>
								<p class="bio">Hi, I’m Drake. I like <a href="https://www.youtube.com/user/CarsandCoffeeIrvine" target="_blank">fast cars</a>, photography, sports, and food. Also, my favorite color is blue.</p>
							</li>
							<li>
								<div class="mask">
									<img src="img/maxweidell.jpg" alt="Max Weidell">
								</div>
								<h4>Max Weidell</h4>
								<p>Co-founder, Sales Guru</p>
								<p class="bio">I'm Max. I love jazz, playing <a href="https://www.youtube.com/watch?v=sOUsbtUrXHk" target="_blank">string instruments</a>, reading, and I am fascinated by trains.</p>
							</li>
							<li>
								<div class="mask">
									<img src="img/brandonfujii.jpg" alt="Brandon Fujii">
								</div>
								<h4>Brandon Fujii</h4>
								<p>Web Dev, Designer</p>
								<p class="bio">2nd year Northwestern CS. I like skateboarding, Soylent, and dank memes. <a href="http://twitter.com/brandonfujii" target="_blank">@brandonfujii</a></p>
							</li>
							<li>
								<div class="mask">
									<img src="img/johnfranklin.jpg" alt="John Franklin">
								</div>
								<h4>John Franklin</h4>
								<p>Sofware Developer</p>
								<p class="bio">Hey, I'm John. I've worked at Google and God wants me to makes this app.</p>
							</li>
							<li>
								<div class="mask">
									<img src="img/navingopaul.jpg" alt="Navin Gopaul">
								</div>
								<h4>Navin Gopaul</h4>
								<p>Mobile Developer</p>
								<p class="bio"><a href="http://obamasbigtenteam.com" target"_blank">Northwestern</a> CS student and NYC Native.  I'm a huge fan of politics, boxing, and vintage currency.</p>
							</li>

						</ul>
					</li>
				</ul>
			</div>
		</div>

	</div>
	</div>
	<footer id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 column clearfix">
					<ul class="col-sm-3">
						<li>Learn More</li>
						<li><a href="#">How It Works</a></li>
						<li><a href="#">Get updates</a></li>
					</ul>
					<ul class="col-sm-3">
						<li>Get In Touch</li>
						<li>+1 (650) 454-6232</li>
						<li><a href="mailto:info@hearye.io">info@hearye.io</a></li>
					</ul>
					<ul>
						<li>Community</li>
						<li><a href="/team">Our team</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="row author">
				<div class="col-md-12 col-sm-12 column">
					<p>&copy; 2016 HearYe. All Rights Reserved.<br>Made with &hearts; by the HearYe team</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
