@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
body .wrapper .bg-about {
  background: url(../img/party-bg.jpeg) center center fixed no-repeat;
  background-size: cover;
  height: 400px; }
  body .wrapper .bg-about .title-wrapper {
    position: relative;
    background-color: rgba(255, 94, 47, 0.8);
    color: #fff;
    height: 100%; }
    body .wrapper .bg-about .title-wrapper h1 {
      color: #fff;
      font-family: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
      font-size: 42px;
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    body .wrapper .bg-about .title-wrapper h1, body .wrapper .bg-about .title-wrapper h2 {
      text-align: center; }

body .wrapper .container {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 961px; }

body .wrapper .about .boxes {
  margin-bottom: 20px; }
  body .wrapper .about .boxes .text-box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    float: left;
    font-size: 20px;
    box-pack: start;
    box-align: center;
    box-orient: vertical;
    box-direction: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 50px; }
    body .wrapper .about .boxes .text-box span {
      display: block;
      text-transform: uppercase;
      color: #F2742B;
      font-family: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 10px; }
  body .wrapper .about .boxes .text-box.first {
    border-right: 1px solid #ccc; }

body .wrapper .about h4 {
  font-size: 32px;
  margin-left: 20px; }

body .wrapper .about .keys {
  margin-top: 25px; }
  body .wrapper .about .keys li {
    list-style: square;
    margin-left: 30px;
    line-height: 1.5em;
    font-size: 18px;
    padding-bottom: 20px; }
    body .wrapper .about .keys li b {
      color: #F2742B; }

@media screen and (max-width: 815px) {
  body .wrapper .bg-about .title-wrapper h1 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 650px) {
  body .wrapper .bg-about .title-wrapper h1 {
    top: 45%;
    font-size: 27px; }
  body .wrapper .container .boxes .text-box {
    width: 100%; }
  body .wrapper .container .boxes .text-box.first {
    border-right: 0;
    border-bottom: 1px solid #ccc;
    margin: 0; }
  body .wrapper .container h4 {
    font-size: 22px; }
  body .wrapper .container .keys li {
    font-size: 16px; } }

@media screen and (max-width: 450px) {
  body .wrapper {
    max-height: none;
    overflow: none; } }
