@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
body .wrapper .contact-wrapper {
  margin: 0 auto;
  max-width: 912px;
  padding: 20px; }
  body .wrapper .contact-wrapper h1 {
    text-align: center;
    color: #6d6d6d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700; }
  body .wrapper .contact-wrapper .content {
    max-width: 500px;
    margin: 0 auto; }
    body .wrapper .contact-wrapper .content form fieldset p {
      margin: 20px;
      color: #5d5d5d;
      font-family: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 500; }
      body .wrapper .contact-wrapper .content form fieldset p:hover span {
        background-color: #F2742B;
        color: #fff; }
      body .wrapper .contact-wrapper .content form fieldset p span {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: #F2742B;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        display: inline-block;
        margin: 5px 10px;
        border: 2px solid #F2742B;
        padding: 5px 11px;
        border-radius: 100px; }
      body .wrapper .contact-wrapper .content form fieldset p input {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        border: 0;
        border-bottom: 2px solid #F2742B;
        outline: 0;
        width: 100%;
        margin: 20px; }
        body .wrapper .contact-wrapper .content form fieldset p input:focus {
          border-bottom: 4px solid #F2742B; }
      body .wrapper .contact-wrapper .content form fieldset p textarea {
        width: 100%;
        margin: 20px;
        border: 2px solid #F2742B;
        border-radius: 3px;
        height: 100px;
        outline: none;
        padding: 10px; }
        body .wrapper .contact-wrapper .content form fieldset p textarea:focus {
          border-width: 3px; }
      body .wrapper .contact-wrapper .content form fieldset p p:last-child {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px; }
      body .wrapper .contact-wrapper .content form fieldset p input[name="submit"] {
        border-bottom: 0;
        width: 150px;
        background-color: #1774E2;
        border-color: transparent;
        color: #fff;
        cursor: pointer;
        cursor: hand;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        min-width: 8rem;
        padding-right: 2.25rem;
        padding-left: 2.25rem;
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 0;
        margin-left: 0;
        line-height: 1;
        text-align: center;
        text-shadow: none;
        vertical-align: middle;
        border-width: .25rem;
        border-style: solid;
        border-radius: .25rem;
        outline: 0;
        -webkit-transition: background-color 150ms,border-color 150ms,color 75ms ease-out;
        transition: background-color 150ms,border-color 150ms,color 75ms ease-out;
        letter-spacing: .1em; }

@media screen and (max-width: 500px) {
  body .wrapper .contact-wrapper h1 {
    text-align: center; }
  body .wrapper .contact-wrapper .content form fieldset p input, body .wrapper .contact-wrapper .content form fieldset p textarea {
    width: 90%; }
  body .wrapper .contact-wrapper .content form fieldset p input[name="submit"] {
    width: 100%;
    background: #1774E2;
    color: #fff; } }
