@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
* {
  box-sizing: border-box; }

*, :after, :before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover {
  text-decoration: none; }

body {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400; }
  body header {
    padding: 10px;
    border-bottom: 1px solid #ededed;
    line-height: 40px; }
    body header .container {
      max-width: 961px; }
      body header .container .global-margin {
        margin-left: 20px;
        margin-right: 20px; }
        body header .container .global-margin .row .col-md-12 .hearye-logo {
          display: inline-block;
          height: 50px;
          width: auto; }
          body header .container .global-margin .row .col-md-12 .hearye-logo img {
            height: 100%;
            width: auto; }
        body header .container .global-margin .row .col-md-12 ul {
          margin-top: 10px;
          float: right; }
          body header .container .global-margin .row .col-md-12 ul li {
            font-weight: 300;
            display: inline-block;
            margin-right: 20px; }
            body header .container .global-margin .row .col-md-12 ul li a {
              color: #000; }
          body header .container .global-margin .row .col-md-12 ul li.active {
            font-weight: 400; }
          body header .container .global-margin .row .col-md-12 ul li:last-child {
            margin-right: 0; }
  body .wrapper {
    border-bottom: 1px solid #ededed;
    z-index: 5;
    background-size: cover; }
    body .wrapper .bg {
      background: radial-gradient(circle at 50% 200%, #f65058 20%, #F2742A 80%); }
      body .wrapper .bg .container {
        max-width: 961px; }
        body .wrapper .bg .container .row {
          min-height: 840px;
          position: relative; }
          body .wrapper .bg .container .row .description {
            position: relative;
            top: 190px;
            color: #fff; }
            body .wrapper .bg .container .row .description h1 {
              color: #fff;
              font-family: "Avenir Next LT Pro", Arial, sans-serif;
              font-size: 48px;
              font-weight: 700;
              line-height: 1em;
              margin-bottom: 0; }
            body .wrapper .bg .container .row .description h2 {
              color: #fff;
              font-family: "Avenir Next LT Pro", Arial, sans-serif;
              font-size: 27px;
              font-weight: 400;
              margin-top: 5px; }
            body .wrapper .bg .container .row .description .subscribe-input {
              width: 60%;
              display: inline-block;
              float: left;
              height: 42px;
              margin-top: 50px; }
            body .wrapper .bg .container .row .description .update-btn {
              margin-top: 50px;
              color: #fff;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 13px;
              font-weight: 500;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              padding: 0.92em 2em;
              margin-left: 5px;
              text-transform: uppercase;
              letter-spacing: .1em;
              border-radius: 5px;
              background: #408fec;
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04), inset 0 0 1px rgba(255, 255, 255, 0.37), 0 1px 0 rgba(0, 0, 0, 0.05);
              display: inline-block;
              border: 0; }
              body .wrapper .bg .container .row .description .update-btn:hover {
                background-color: #1774e2; }
          body .wrapper .bg .container .row .iphone-container {
            padding-left: 35px; }
            body .wrapper .bg .container .row .iphone-container .iphone {
              z-index: 100;
              position: relative;
              margin-left: 35px;
              margin-top: 60px;
              margin-bottom: 60px;
              width: 360px;
              height: auto; }
              body .wrapper .bg .container .row .iphone-container .iphone .screen-assets {
                z-index: 1000;
                display: block;
                position: absolute;
                width: 312px;
                height: auto; }
              body .wrapper .bg .container .row .iphone-container .iphone .top-bar {
                top: 107px;
                left: 26px; }
              body .wrapper .bg .container .row .iphone-container .iphone .bottom-bar {
                bottom: 102px;
                left: 26px; }
              body .wrapper .bg .container .row .iphone-container .iphone .feed {
                z-index: 200;
                background-color: #fff;
                top: 160px;
                left: 26px;
                height: 460px;
                overflow: hidden; }
                body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container {
                  height: 100%;
                  width: 100%;
                  overflow-y: scroll;
                  overflow-x: hidden;
                  position: relative;
                  padding-right: 20px;
                  left: 10px; }
                  body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item {
                    width: 100%;
                    height: 130px;
                    background-color: #fff;
                    border-bottom: 1px solid #ededed;
                    padding: 10px;
                    position: relative; }
                    body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item h3 {
                      color: #000;
                      font-family: "SFNS Display", Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 500;
                      margin-top: 5px;
                      float: left; }
                    body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-date {
                      color: gray;
                      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                      font-size: 12px;
                      font-weight: 300;
                      display: inline-block;
                      float: left;
                      margin-top: 7px;
                      position: absolute;
                      right: 10px; }
                    body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-author {
                      color: gray;
                      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                      font-size: 13px;
                      font-weight: 300;
                      margin-top: 0;
                      position: absolute;
                      left: 10px;
                      top: 33px; }
                    body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-description {
                      color: gray;
                      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                      font-size: 13px;
                      font-weight: 400;
                      margin-top: 0;
                      line-height: 1.2em;
                      position: absolute;
                      top: 51px;
                      padding-right: 4px; }
                      body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-description .item-price, body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-description item-location {
                        font-weight: 500; }
                      body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-description .item-price {
                        color: green; }
                    body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-overlay {
                      background-color: #fff;
                      background: linear-gradient(to bottom, #fff 0, transparent 100%);
                      opacity: 0.5;
                      width: 100%;
                      height: 30px;
                      position: absolute;
                      bottom: 0; }
                      body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-overlay .item-info {
                        opacity: 1;
                        color: #404040;
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                        font-size: 12px;
                        font-weight: 500;
                        margin-top: 0;
                        position: relative;
                        top: 10px;
                        right: -102px; }
                        body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-overlay .item-info .item-comments {
                          margin-right: 20px; }
              body .wrapper .bg .container .row .iphone-container .iphone .device {
                width: 100%;
                height: auto; }
  body footer {
    border-top: 1px solid #ededed; }
    body footer .container {
      max-width: 961px;
      padding-top: 40px;
      padding-bottom: 20px; }
      body footer .container .row .column ul li {
        line-height: 1.5em;
        color: gray; }
      body footer .container .row .column ul li:first-child {
        font-weight: 600;
        color: #000; }
      body footer .container .author {
        padding-left: 10px;
        margin-top: 40px;
        color: gray;
        font-size: 12px; }

@media screen and (max-width: 992px) {
  body .wrapper .bg .container .row .description .subscribe-input {
    width: 100%; }
  body .wrapper .bg .container .row .description p {
    text-align: center; }
  body .wrapper .bg .container .row .description .update-btn {
    margin-top: 20px; } }

@media screen and (max-width: 940px) {
  body .wrapper .bg .container .row .iphone-container .iphone {
    margin-left: 0; } }

@media screen and (max-width: 850px) {
  body .wrapper .bg .container .row .iphone-container, body .wrapper .bg .container .row .description {
    width: 100%; }
  body .wrapper .bg .container .row .description {
    padding-top: 20px;
    top: 0; }
    body .wrapper .bg .container .row .description h1, body .wrapper .bg .container .row .description h2 {
      text-align: center; }
    body .wrapper .bg .container .row .description .subscribe-input {
      margin-top: 20px; }
    body .wrapper .bg .container .row .description .update-btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
  body .wrapper .bg .container .row .iphone-container .iphone {
    margin: 60px auto; } }

@media screen and (max-width: 768px) {
  body footer .row .column {
    width: 100%; }
    body footer .row .column ul {
      display: inline-block;
      float: left; } }

@media screen and (max-width: 550px) {
  body .wrapper .bg .container .row .description h1 {
    font-size: 36px; }
  body .wrapper .bg .container .row .description h2 {
    font-size: 22px; } }

@media screen and (max-width: 530px) {
  body header .container .global-margin .row .col-md-12 {
    text-align: center; }
    body header .container .global-margin .row .col-md-12 .mobile {
      display: none; } }

@media screen and (max-width: 450px) {
  body .wrapper {
    max-height: 800px;
    overflow: hidden; }
    body .wrapper .bg .container .row .iphone-container .iphone {
      position: relative;
      left: -15px; } }

@media screen and (max-width: 400px) {
  body footer .container .row .column ul:last-child {
    position: relative;
    top: 20px;
    width: 80%;
    margin-left: 15px; } }

@media screen and (max-width: 375px) {
  body .wrapper .bg .container .row .iphone-container .iphone {
    width: 300px; }
    body .wrapper .bg .container .row .iphone-container .iphone .screen-assets {
      width: 259px; }
    body .wrapper .bg .container .row .iphone-container .iphone .top-bar {
      top: 89px;
      left: 22px; }
    body .wrapper .bg .container .row .iphone-container .iphone .feed {
      top: 133px;
      left: 22px; }
      body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item h3 {
        font-size: 14px; }
      body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-date, body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-author {
        font-size: 9px; }
      body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-description, body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-comments, body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-attending {
        font-size: 11px; }
      body .wrapper .bg .container .row .iphone-container .iphone .feed .feed-container #feed-list .feed-item .item-overlay .item-info {
        right: -59px; } }
